<table class="table">
  <tbody>
      <tr>
      <td>Высота</td>
      <td>{{ product.height }}</td>
    </tr>
      <tr>
      <td>Переодичность полива</td>
      <td>{{ product.frequency_of_watering }}</td>
    </tr>
      <tr>
      <td>Диаметр цветочного горшка</td>
      <td>{{ product.flower_pot_diameter }}</td>
    </tr>
  <tr>
      <td>Иголки</td>
      <td>{{ product.needles }}</td>
    </tr>
        <tr>
      <td>Цветок</td>
      <td>{{ product.flower }}</td>
    </tr>
  </tbody>
</table>

